.flow {
    > * + * {
        margin-top: var(--flow-space, 1em);

    }

    &--separations > * + * {
        --flow-space: var(--flow-space, 1em) / 2;
        border-top: get-color('light') 2px solid;
        padding-top: var(--flow-space, 1em);
    }
}