{% extends '_base.html' %}

{% load static %}
{% load markdown_extras %}

{% block title %}
{{ object.title }}
{% endblock title %}

{% block head_tags %}
<link rel="stylesheet" href="{% static 'css/applause-button.css' %}" />
<script src="{% static 'js/applause-button.js' %}"></script>
{% endblock head_tags %}

{% block content %}

        <main class="content">
            <h2 class="content-title">{{ object.title }}</h2>

            <div class ="article-container">
                <img src="{{ object.image.url }}" alt="">
                <p>{{ object.description }}</p>
            </div>
        </main>
{% endblock %}

{% block sidebar %}
    <aside role="author" class="author">
        
        <div class="container container-author">
            {% if object.author.photo %}
            <img src="{{ object.author.photo.url }}" alt="" class="author-image">
            {% endif %}
            <p class="author-name">{{ object.author }}</p>
            <p class="author-school">{{ object.author.school }}</p>
            {% if article.author.ig_user %}
            <p class="author-social"><i class="fab fa-instagram"></i>
                    <a href="{{ object.author.ig_url }}" target="_blank">{{ object.author.ig_user }}</a></p>
            {% endif %}
        </div>
        <div class="clap-btn-sidebar">
            <applause-button style="width: 58px; height: 58px;"/>   
        </div>   
    </aside>
{% endblock  %}


