{% load obfuscate_email %}

<footer class="[ site-foot ] [ bg-light-glare gap-top-700 ]">
    <div class="site-foot__content wrapper auto-grid">
        <div class="">
            <div class="card radius">
                <div class="card__text">
                    <h3>
                        <a href="{% url 'contact:contact' %}" class="card__link card__link--main">¿Tienes algo por contar?</a>  
                    </h3>
                    <p>
                        Ponte en contacto para mandar tu poema, cuento, foto, 
                        investigación, artículo o cualquier otra cosa que quieras
                        publicar.
                    </p>
                </div>
            </div>
        </div>
        {% block footer_nav %}
        <nav class="">
            <h3>Navegación</h3>
            <ul>
                <li>
                    <a href="{% url home.link %}">{{ home.name }}</a>
                </li>
                {% for category in categories %}
                <li>
                    <a href="{% url 'revista:category' category.slug %}"
                        >{{ category.name }}</a
                    >
                </li>
                {% endfor %}
                <li>
                    <a href="{% url gallery_page.link %}"
                        >{{ gallery_page.name }}</a
                    >
                </li>
                <li>
                    <a href="{% url archive.link %}"
                        >{{ archive.name }}</a
                    >
                </li>
                <li>
                    <a href="{% url authors.link %}">
                        {{ authors.name }}</a
                    >
                </li>
                <li>
                    <a href="{% url about_us.link %}"
                        >{{ about_us.name}}</a
                    >
                </li>
                <li>
                    <a href="{% url contact.link %}">
                        {{ contact.name }}</a
                    >
                </li>
            </ul>
        </nav>
        {% endblock %}
        <div class="">
            <div class="card radius">
                <div class="card__text">
                    <h3>¡Síguenos!</h3>
                    <a
                        href="http://www.instagram.com/larevista.somos"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="card__link card__link--main"
                    >
                        <i class="fab fa-instagram"> larevista.somos</i></a>
                </div>
            </div>
        </div>
    </div>

    <small class="wrapper align-center">
        &copy; Copyright {{ current_year }}, Revista SOMOS.
    </small>
</footer>