{% load obfuscate_email %}

<footer class="[ site-foot ] [ bg-light gap-top-700 ]">
    <div class="wrapper">
        <div class="">
            <h3>¿Tienes algo por contar?</h3>
            <p>
                Envíanos tu poema, cuento, foto, investigación y/o
                artículo a nuestro correo. <span></span>
                {% obfuscate_email revistasomos@glm.edu.co %}
            </p>
        </div>
        {% block footer_nav %}
        <nav class="">
            <h3>Navegación</h3>
            <ul>
                <li>
                    <a href="{% url home.link %}">{{ home.name }}</a>
                </li>
                {% for category in categories %}
                <li>
                    <a href="{% url 'revista:category' category.slug %}"
                        >{{ category.name }}</a
                    >
                </li>
                {% endfor %}
                <li>
                    <a href="{% url gallery_page.link %}"
                        >{{ gallery_page.name }}</a
                    >
                </li>
                <li>
                    <a href="{% url archive.link %}"
                        >{{ archive.name }}</a
                    >
                </li>
                <li>
                    <a href="{% url authors.link %}">
                        {{ authors.name }}</a
                    >
                </li>
                <li>
                    <a href="{% url about_us.link %}"
                        >{{ about_us.name}}</a
                    >
                </li>
                <li>
                    <a href="{% url contact.link %}">
                        {{ contact.name }}</a
                    >
                </li>
            </ul>
        </nav>
        {% endblock %}
        <div class="">
            <h3 class="">¡Síguenos!</h3>
            <a
                href="http://www.instagram.com/larevista.somos"
                target="_blank"
                rel="noopener noreferrer"
                class="bg-dark-glare"
            >
                <i class="fab fa-instagram"> larevista.somos</i></a
            >
        </div>
    </div>

    <small class="align-center">
        &copy; Copyright {{ current_year }}, Revista SOMOS.
    </small>
</footer>