{% extends 'revista/category_list.html' %}

{% load static %}

{% block title %}
{{ category.name }} | Archivo | Revista SOMOS
{% endblock title %}

{% block sidebar %}
<aside class= "sidebar">

    <div class="sidebar-widget" id="about-us">
        <a href="{% url 'revista:about_us' %}" class="widget-link">
            <h2 class="widget-title">¿Quiénes SOMOS?</h2>
            <img src="{% static 'images/logo.jpg' %}" alt="" class="widget-image">
            <p class="widget-body">
                La voz de la juventud
            </p>
        </a>
    </div>
    {% if archive_post %}
    <div class="sidebar-widget" id="anterior">
        <h2 class="widget-title"><a href="{% url 'revista:category' category.slug %}">Edición actual</a></h2>
        {% for post in archive_post %}
        <div class="widget-recent-post">
            <a href="{% url 'revista:article_detail' post.category.slug post.slug %}" class="widget-link">
                <h3 class="widget-recent-post-title">{{ post.title }}</h3>
                <img src="{{ post.get_first_image.image.url }}" alt="" class="widget-image">
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</aside>
{% endblock sidebar %}