{% extends '_base.html' %}

{% load static %}
{% load markdown_extras %}

{% block title %}
{{ author.name }} | Autor | Revista SOMOS
{% endblock title %}

{% block head_tags %}
<link rel="stylesheet" href="{% static 'css/applause-button.css' %}" />
<script src="{% static 'js/applause-button.js' %}"></script>
{% endblock head_tags %}

{% block content %}
<main class="container container-flex container-wrap">
    
    {% for post in object_list %}
    
        <article class="small-post poem-post">
            <a href="{% url 'revista:article_detail' post.category.slug post.slug %}" class="widget-link">
                <h3 class="modern-life-post-title">{{ post.title }}</h3>
                {% if post.images.all %}
                <img src="{{ post.get_first_image.image.url }}" alt="" class="author-image">
                {% elif post.author.photo %}
                <img src="{{ post.author.photo.url }}" alt="" class="author-image">
                {% endif %}
                <p class="author-name"> {{ post.author.name }}</p>
                <p class="author-school">{{ post.author.school }}</p>
            </a>
        </article>
    {% endfor %}
    <div class="gallery-grid">
        {% for photo in author.fotos.all %}
        <div class="gallery-grid__item">
            <a href="{% url 'gallery:image' photo.slug %}" class="gallery-link">
                <img class='gallery-grid__img' src='{{ photo.image.url }}' alt=''>
            </a>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}

{% block sidebar %}
    <aside role="author" class="author">
        
        <div class="container container-author">
            {% if author.photo %}
            <img src="{{ author.photo.url }}" alt="" class="author-image">
            {% endif %}
            <p class="author-name">{{ author.name }}</p>
            <p class="author-school">{{ author.school }}</p>
            {% if author.ig_user %}
            <p class="author-social"><i class="fab fa-instagram"></i>
                    <a href="{{ author.ig_url }}" target="_blank">{{ author.ig_user }}</a></p>
            {% endif %}
        </div>
        <div class="clap-btn-sidebar">
            <applause-button style="width: 58px; height: 58px;"/>   
        </div> 
    </aside>
{% endblock  %}