{% extends '_base.html' %}

{% load static %}

{% block title %}
Autores | Revista SOMOS
{% endblock title %}

{% block content %}
<main id="main-content"  class="auto-grid">
    {% for author in object_list %}
        <article class="[ author ] [ card ] [ radius ]">
            <div class="card__img">
                <img src="{{ author.photo.url }}" alt="" class="frame circle">
            </div>
            <div class="card__text flow">
                <a href="{% url 'revista:author_list' author.slug %}" class="card__link card__link--main"><h2 class="box-block">{{ author.name }}</h2></a>
                <small class="box-block text-300">{{ author.school }}</small>
                {% if author.ig_user %}
                    <a href="{{ author.ig_url }}" target="_blank" class="card__link card__link--secondary">
                        <i class="fab fa-instagram"></i> {{ author.ig_user }}
                    </a>
                {% endif %}
            </div>
        </article>
    {% endfor %}
</main>
{% endblock content %}