{% extends '_base.html' %}

{% load static %}
{% load markdown_extras %}

{% block title %}
{{ category.name }} | Revista SOMOS
{% endblock title %}

{% block content %}

    <main id="main-content" class="auto-grid">
        {% if object_list %}
        
        {% for post in object_list %}
            {% if post.description %}
            {% include 'partials/post-card.html' %}
            {% else %}
            <article class="card radius">
                    <div></div>
                    <h2 class="align-center">
                        <a href="{% url 'revista:article_detail' post.category.slug post.slug %}" class="card__link card__link--main">{{ post.title }}</a>
                    </h2>
                    <div class="card__img">
                        <img src="{{ post.author.photo.url }}" alt="" class="author-image">
                    </div>
                    <div class="[ card__text ] [ flow ] ">
                        <a href="{% url 'revista:author_list' post.author.slug %}" class="card__link card__link--secondary"><small class="box-block text-300">{{ post.author.name }}</small></a>
                        <small class="box-block text-300">{{ post.author.school }}</small>
                    </div>
            </article>
            {% endif %}
        {% endfor %}
        {% else %}
        <div class="container contacto-main error">
            <div>
                <h2 class="error-title">Ups, no hay articulos en esta sección</h2>
                <p>Lamentablemente, no hay ningún artículo en esta sección.
                </p>
                <div class="contacto-link">
                    <a href="{% url 'revista:home' %}">¡Vuelve al inicio!</a>
                </div>
            </div>
        </div>
        {% endif %}
    </main>

{% endblock content %}

