{% extends '_base.html' %}

{% load static %}
{% load markdown_extras %}

{% block before %}
{% if gallery %}
{% include 'gallery/carrousel.html' %}
{% endif %}
{% endblock before %}


{% block content %}
    <div class="with-sidebar">
        <div>
            <main id="main-content" class="flow">
                <article class="flow">
                    <h2 class="">{{ object_list.0.title }}</h2>
                    <img src="{{ object_list.0.get_first_image.image.url }}" alt="" class="">
                    <p class="text-300">{{ object_list.0.author.name }}</p>
                    <p class="text-300">{{ object_list.0.author.school }}</p>
                    <p class="">
                        {{ object_list.0.description | markdown | safe }}
                    </p>
                    <a href="{% url 'revista:article_detail' object_list.0.category.slug object_list.0.slug %}" class="">Leer más...</a>
                </article>
                
                <div class="auto-grid">
                    {% for post in object_list|slice:"1:" %}
                    <article class="flow">
                        <div class="">
                            <h2 class="">{{ post.title }}</h2>
                            <p class="text-300">{{ post.author.name }}</p>
                            <p class="text-300">{{ post.author.school }}</p>
                            <p class="">
                                {{ post.description | markdown | safe }}
                            </p>
                            <a href="{% url 'revista:article_detail' post.category.slug post.slug %}" class="text-300">Leer más...</a>
                        </div>
                        <div class="">
                            {% if post.images.all %}
                            <img src="{{ post.get_first_image.image.url }}" alt="" class="">
                            {% endif %}
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </main>

            <aside class="[ sidebar ] [ flow ]">
                <div class="flow align-center" id="about-us">
                    <a href="{% url 'revista:about_us' %}" class="">
                        <h2 class="">¿Quiénes SOMOS?</h2>
                        <img src="{% static 'images/somos-logo.png' %}" alt="" class="">
                    </a>
                </div>

                {% if cuentos %}
                <div class="[ flow ][ border-dashed ]">
                    <h2 class="align-center"><a href="{% url 'revista:category' 'cuentos' %}">Cuentos</a></h2>
                    <div class="[ flow flow--separations ]">
                        {% for cuento in cuentos %}
                        <div class="">
                            <a href="{% url 'revista:article_detail' cuento.category cuento.slug %}" class="widget-link">
                                <h3 class="">{{ cuento.title }}</h3>
                                <p class="text-300">{{ cuento.author.name }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% if poemas %}
                <div class="[ flow ] [ border-dashed ]">
                    <h2 class="align-center"><a href="{% url 'revista:category' 'poemas' %}">Poemas</a></h2>
                    <div class="[ flow flow--separations ]">
                        {% for poema in poemas %}
                        <div class="">
                            <a href="{% url 'revista:article_detail' poema.category poema.slug %}" class="widget-link">
                                <h3 class="">{{ poema.title }}</h3>
                                <p class="text-300">{{ poema.author.name }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <div class="[ issues ][ flow ] [ align-center ]">
                    <h2 class="">Ediciones Anteriores</h2>
                    <ul class="[ issues__list ]">
                        <li><a href="">Edicion 1</a></li>
                        <li><a href="">Edición 2</a></li>
                        <li><a href="">Edición 3</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
{% endblock content %}
    


{% block scripts %}
<script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
{% endblock scripts %}