{% extends '_base.html' %}

{% load static %}
{% load markdown_extras %}

{% block before %}
{% if gallery %}
{% include 'gallery/carrousel.html' %}
{% endif %}
{% endblock before %}


{% block content %}
    <div class="with-sidebar">
        <div>
            <main id="main-content" class="flow">
                <div>
                    <article class="[ card ] [ flow radius ] [ gap-bottom-500 ]">
                        <div></div>
                        <h2 class="align-center">
                            <a href="{% url 'revista:article_detail' object_list.0.category.slug object_list.0.slug %}" class="card__link card__link--main">{{ object_list.0.title }}</a>
                        </h2>
                        <div class="card__img">
                            <img src="{{ object_list.0.get_first_image.image.url }}" alt="">
                        </div>
                        <div class="[ card__text ] [ flow ] ">
                            <a href="{% url 'revista:author_list' object_list.0.author.slug %}" class="card__link card__link--secondary"><small class="box-block text-300">{{ object_list.0.author.name }}</small></a>
                            <small class="box-block text-300">{{ object_list.0.author.school }}</small>
                            <p>
                                {{ object_list.0.description | markdown | safe }}
                            </p>
                        </div>
                    </article>
                </div>
                
                <ul class="auto-grid">
                    {% for post in object_list|slice:"1:6" %}
                        <li>
                            {% include 'partials/post-card.html' %}
                        </li>
                    {% endfor %}
                        <li>
                            <div class="card radius"
                                style="border:solid 2px black;min-height:300px;">
                                <h2>Pauta 1</h2>
                            </div>
                        </li>
                    {% for post in object_list|slice:"6:8" %}
                        <li>
                            {% include 'partials/post-card.html' %}
                        </li>
                    {% endfor %}
                        <li>
                            <div class="card radius"
                                style="border:solid 2px black;min-height:300px;">
                                <h2>Pauta 2</h2>
                            </div>
                        </li>
                    {% for post in object_list|slice:"8:" %}
                        <li>
                            {% include 'partials/post-card.html' %}
                        </li>
                    {% endfor %}
                </ul>

                <div class="card radius"
                    style="border:solid 2px black; height:500px;">
                    <h2>Pauta Grande</h2>
                </div>
            </main>

            <aside class="[ sidebar ] [ flow ]">
                <div>
                    <div class="flow card radius" id="about-us">
                        <div class="card__text">
                            <h2 class="align-center">
                                <a href="{% url 'revista:about_us' %}" class="card__link card__link--main">¿Quiénes SOMOS?</a>
                            </h2>
                            <img src="{% static 'images/somos-logo.png' %}" alt="" class="">
                        </div>
                        
                    </div>
                </div>

                {% if cuentos %}
                <div class="[ flow ][ border-dashed ]">
                    <h2 class="align-center"><a href="{% url 'revista:category' 'cuentos' %}">Cuentos</a></h2>
                    <div class="[ flow flow--separations ]">
                        {% for cuento in cuentos %}
                        <div class="">
                            <a href="{% url 'revista:article_detail' cuento.category cuento.slug %}" class="widget-link">
                                <h3 class="">{{ cuento.title }}</h3>
                                <p class="text-300">{{ cuento.author.name }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% if poemas %}
                <div class="[ flow ] [ border-dashed ]">
                    <h2 class="align-center"><a href="{% url 'revista:category' 'poemas' %}">Poemas</a></h2>
                    <div class="[ flow flow--separations ]">
                        {% for poema in poemas %}
                        <div class="">
                            <a href="{% url 'revista:article_detail' poema.category poema.slug %}" class="widget-link">
                                <h3 class="">{{ poema.title }}</h3>
                                <p class="text-300">{{ poema.author.name }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <div class="card radius"
                    style="border:solid 2px black; height:400px;">
                    <h2>Pauta 4</h2>
                </div>

                <div class="card radius"
                    style="border:solid 2px black; height:650px;">
                    <h2>Cine</h2>
                </div>

                <div class="[ issues ][ flow ] [ align-center ]">
                    <h2 class="">Ediciones Anteriores</h2>
                    <ul class="[ issues__list ]">
                        <li><a href="">Edicion 1</a></li>
                        <li><a href="">Edición 2</a></li>
                        <li><a href="">Edición 3</a></li>
                    </ul>
                </div>

                <div class="card radius"
                    style="border:solid 2px black; height:500px;">
                    <h2>Pauta 5</h2>
                </div>
            </aside>
        </div>
    </div>
{% endblock content %}
    


{% block scripts %}
<script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
{% endblock scripts %}