{% extends '_base.html' %}

{% load static %}
{% load markdown_extras %}

{% block before %}
{% if gallery %}
{% include 'gallery/carrousel.html' %}
{% endif %}
{% endblock before %}


{% block content %}
    <div class="with-sidebar">
        <div>
            <main id="main-content" class="flow">
                <div>
                    <article class="[ card ] [ radius ] [ gap-bottom-500 ]">
                        <div></div>
                        <h2 class="align-center">
                            <a href="{% url 'revista:article_detail' object_list.0.category.slug object_list.0.slug %}" class="card__link card__link--main">{{ object_list.0.title }}</a>
                        </h2>
                        <div class="card__img">
                            <img src="{{ object_list.0.get_first_image.image.url }}" alt="">
                        </div>
                        <div class="[ card__text ] [ flow ] ">
                            <a href="{% url 'revista:author_list' object_list.0.author.slug %}" class="card__link card__link--secondary"><small class="box-block text-300">{{ object_list.0.author.name }}</small></a>
                            <small class="box-block text-300">{{ object_list.0.author.school }}</small>
                            <p>
                                {{ object_list.0.description | markdown | safe }}
                            </p>
                        </div>
                    </article>
                </div>
                
                <ul class="auto-grid">
                    {% for post in object_list|slice:"1:6" %}
                        <li>
                            {% include 'partials/post-card.html' %}
                        </li>
                    {% endfor %}
                        <li>
                            <div class="[ pauta ] [ flow card ] [ radius ]">
                                <div></div>
                                <h2 class="align-center">
                                    Publicidad
                                </h2>
                                <a href="https://www.instagram.com/cataniacookies/" target="_blank" rel="noopener noreferrer" class="card__link card__link--main">
                                    <img src="{% static 'images/pautas/1.png' %}" alt="Publicidad - Catania Cookies" class="pauta__image">
                                </a>
                            </div>
                        </li>
                    {% for post in object_list|slice:"6:8" %}
                        <li>
                            {% include 'partials/post-card.html' %}
                        </li>
                    {% endfor %}
                        <li>
                            <div class="[ pauta ] [ flow card ] [ radius ]">
                                <div></div>
                                <h2 class="align-center">
                                    Publicidad
                                </h2>
                                <a href="https://www.instagram.com/trendy.paws/" target="_blank" rel="noopener noreferrer" class="card__link card__link--main">
                                    <img src="{% static 'images/pautas/2.jpg' %}" alt="Publicidad - Trendy Paws" class="pauta__image">
                                </a>
                            </div>
                        </li>
                    {% for post in object_list|slice:"8:" %}
                        <li>
                            {% include 'partials/post-card.html' %}
                        </li>
                    {% endfor %}
                </ul>

            </main>

            <aside class="[ sidebar ] [ flow ]">
                <div>
                    <div class="flow card radius" id="about-us">
                        <div class="card__text">
                            <h2 class="align-center">
                                <a href="{% url 'revista:about_us' %}" class="card__link card__link--main">¿Quiénes SOMOS?</a>
                            </h2>
                            <img src="{% static 'images/somos-logo.png' %}" alt="" class="">
                        </div>
                        
                    </div>
                </div>

                {% if cuentos %}
                <div class="[ flow ][ border-dashed ]">
                    <h2 class="align-center"><a href="{% url 'revista:category' 'cuentos' %}">Cuentos</a></h2>
                    <div class="[ flow flow--separations ]">
                        {% for cuento in cuentos %}
                        <div class="">
                            <a href="{% url 'revista:article_detail' cuento.category cuento.slug %}" class="widget-link">
                                <h3 class="">{{ cuento.title }}</h3>
                                <p class="text-300">{{ cuento.author.name }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% if poemas %}
                <div class="[ flow ] [ border-dashed ]">
                    <h2 class="align-center"><a href="{% url 'revista:category' 'poemas' %}">Poemas</a></h2>
                    <div class="[ flow flow--separations ]">
                        {% for poema in poemas %}
                        <div class="">
                            <a href="{% url 'revista:article_detail' poema.category poema.slug %}" class="widget-link">
                                <h3 class="">{{ poema.title }}</h3>
                                <p class="text-300">{{ poema.author.name }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <div class="[ pauta ] [ flow card ] [ radius ]">
                    <div></div>
                    <h2 class="align-center">
                        Publicidad
                    </h2>
                    <a href="https://instagram.com/proyectoprea/" target="_blank" rel="noopener noreferrer" class="card__link card__link--main">
                        <img src="{% static 'images/pautas/4.png' %}" alt="Publicidad - PREA" class="pauta__image">
                    </a>
                </div>

                <div class="card radius"
                    style="border:solid 2px black; height:650px;">
                    <h2>Cine</h2>
                </div>

                <div class="[ issues ][ flow ] [ align-center ]">
                    <h2 class="">Ediciones Anteriores</h2>
                    <ul class="[ issues__list ]">
                        <li><a href="">Edicion 1</a></li>
                        <li><a href="">Edición 2</a></li>
                        <li><a href="">Edición 3</a></li>
                    </ul>
                </div>

                <div class="[ pauta ] [ flow card ] [ radius ]">
                    <div></div>
                    <h2 class="align-center">
                        Publicidad
                    </h2>
                    <a href="https://instagram.com/smores_bogota/" target="_blank" rel="noopener noreferrer" class="card__link card__link--main">
                        <img src="{% static 'images/pautas/5.jpg' %}" alt="Publicidad - smores bogotá" class="pauta__image">
                    </a>
                </div>
            </aside>
        </div>
    </div>

    <div class="[ pauta ] [ flow card ] [ radius gap-bottom-300 ]">
        <div></div>
        <h2 class="align-center">
            Publicidad
        </h2>
        <div class="card__image">
            <a href="https://www.iventoscolombia.com" target="_blank" rel="noopener noreferrer" class="card__link card__link--main">
                <img src="{% static 'images/pautas/big.jpg' %}" alt="Publicidad - iVentos" class="pauta__image desktop">
                <img src="{% static 'images/pautas/big_mobile.jpg' %}" alt="Publicidad - iVentos" class="pauta__image mobile">
            </a>
        </div>
    </div>
{% endblock content %}
    


{% block scripts %}
<script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
{% endblock scripts %}