{% extends 'base.html' %}

{% load markdown_extras %}

{% block title %}
{{ article.title }}
{% endblock title %}

{% block content %}

        <main class="content">
            <h2 class="content-title">{{ article.title }}</h2>
            
            <div class ="article-container">
                {{ article.body_html | safe }}
            </div>

            <div class="article-ref">
                <h3>Referencias:</h3>
                {{ article.bib | markdown | safe }}
            </div>

        </main>
{% endblock %}

{% block sidebar %}
    <aside role="author" class="author">
        <div class="container container-author">
            <img src="{{ article.author.photo.url }}" alt="" class="author-image">
            <p class="author-name">{{ article.author }}</p>
            <p class="author-school">{{ article.author.school }}</p>
        </div>
    </aside>
{% endblock  %}

{% block extra_content %}
    {% include 'revista/comments.html' %}
{% endblock  %}
        

