{% load markdown_extras %}

<div class="container">
    <div class="">
        {% if new_comment %}
        <div>
            <p>Gracias por comentar.</p>
        </div>
        {% else %}
        <h3>Deje su comentario</h3>
        <p>Su email no será publicado.</p>
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" class="">Comenta!</button>
        </form>
        {% endif %}          
    </div>
 
    <div class="">
        <!-- comments -->
        <h3>{{ comments.count }} comentarios</h3>

        {% for comment in comments %}
        <div class="comments">
            <div class="">
                <h4>{{ comment.name }}</h4>
                <span class="">
                    {{ comment.created_on }}
                </span>
                <div>
                    {{ comment.body | markdown | safe }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
