{% extends '_base.html' %}

{% load static %}
{% load markdown_extras %}

{% block title %}
{{ object.title }}
{% endblock title %}

{% block head_tags %}
<link rel="stylesheet" href="{% static 'css/applause-button.css' %}" />
<script src="{% static 'js/applause-button.js' %}"></script>
{% endblock head_tags %}

{% block content %}
<div class="with-sidebar">
    <div>
        <main class="content">
            <h2 class="content-title">{{ object.title }}</h2>

            <div class ="article-container">
                <img src="{{ object.image.url }}" alt="">
                <p>{{ object.description }}</p>
            </div>
        </main>

        {% if object.author.school %}
        <aside role="author" class="">
            <div>
                <div class="[ author ] [ card ] [ radius ]">
                    
                    {% if object.author.photo %}
                        <img src="{{ object.author.photo.url }}" alt="" class="frame circle">
                    {% endif %}
                    <div class="card__text flow">
                        <a href="{% url 'revista:author_list' object.author.slug %}" class="card__link card__link--main"><small class="box-block text-300">{{ object.author.name }}</small></a>
                        <small class="box-block text-300">{{ object.author.school }}</small>
                        {% if object.author.ig_user %}
                            <a href="{{ object.author.ig_url }}" target="_blank" class="card__link card__link--secondary">
                                <i class="fab fa-instagram"></i> {{ object.author.ig_user }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="gap-top-300">
                <applause-button style="width: 4rem; height: 4rem;" class="wrapper"/>   
            </div>   
        </aside>
        {% endif %}
    </div>
</div>
{% endblock %}



