{% load static %} 

<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-163601809-1"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-163601809-1');
        </script>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} Revista SOMOS {% endblock title %}</title>
        <meta name="author" content="J.B. Benavides Rubio" />
        
        <link rel="stylesheet" media="print" href="{% static '/fonts/fonts.css' %}" onload="this.media='all'" />
        <link rel="stylesheet" href="{% static 'css/global.css' %}" />
        <link
            rel="stylesheet"
            href="{% static 'css/flickity.css' %}"
            media="screen"
        />
        <script
            src="https://kit.fontawesome.com/f15a5874bc.js"
            crossorigin="anonymous"
        ></script>
        <link rel="canonical" href="https://www.larevistasomos.com" />
        {% block head_tags %}{% endblock %}
    </head>
    <body>
        {% include 'partials/site-head.html' %}

        {% block before %} {% endblock before %}

        <div class="[ wrapper ]">
            {% block content %}
            
            {% endblock %}
        </div>

        {% block extra_content %} {% endblock %}

        {% include 'partials/site-foot.html' %}

        {% block scripts %} {% endblock %}
    </body>
</html>
