{% extends 'base.html' %}

{% load static %}
{% load obfuscate_email %}

{% block title %}
¿Quiénes SOMOS? | Revista SOMOS
{% endblock title %}

{% block content %}
<main class="content">

    <h2 class="content-title">Nuestra razón de ser</h2>
    
    <p> Esta pandemia nos permitió a todos los colombianos reflexionar sobre la 
        realidad de nuestro país. <br> 
        Por un lado, no es vano estar siempre situados entre las naciones más 
        desiguales del mundo. Debido a la alta tasa de informalidad, miles de 
        familias que sostienen sus hogares con lo del día a día están pasando 
        hambre. Además, el 44% de los trabajadores en Colombia gana menos de un 
        salario mínimo. Es decir, una miseria. ¿Que persona que gane esta 
        pequeñez puede pagar su pensión, tener derecho a la salud y también 
        llevar comida a su mesa?</p>

    <p>Hemos podido comprobar que incluso en tiempos en donde más solidarios y 
        empáticos debemos ser, nuestros líderes políticos que deben abogar por 
        el bienestar de los ciudadanos se siguen robando la plata de las ayudas 
        para aquellos más vulnerables. </p>

    <p>El haber nacido en Colombia nos exige a todos una responsabilidad. Nos 
        crea a cada uno de los ciudadanos un reto. Le obliga a las personas a 
        trabajar arduamente para transformar nuestra sociedad y lograr un cambio. 
        El papel más importante en esta transformación y en esta lucha lo tienen 
        los jóvenes. Somos los únicos que, mediante nuestras acciones, posición 
        y capacidad, podemos asegurar un futuro completamente mejor.</p>

    <p>La revista SOMOS es una expresión para reafirmar nuestro compromiso con 
        esta lucha. Es un medio que tiene como fin mostrar la opinión de los jóvenes 
        sobre distintas realidades del mundo actual. Es un proyecto que tiene 
        como esencia ser construido, de principio a fin, solo por estudiantes 
        de distintos colegios de Bogotá. Queremos brindarle al lector un espacio 
        de debate, conocimiento y reflexión. Un espacio en el que la voz de los 
        jóvenes pueda ser escuchada. Porque SOMOS es sencillamente eso, la voz 
        de la juventud.</p>

</main>

<aside role="author" class="author">
    <div class="container container-author">
        <h2>Director</h2>
        <img src="{% static 'images/santiagoorozco.jpg' %}" alt="" class="author-image">
        <p class="author-name">Santiago Orozco Uribe</p>
        <p class="author-school">Gimnasio La Montaña</p>
    </div>
</aside>
{% endblock content %}

{% block extra_content %}
<div class="container modern-life">
        <h2 class="modern-life-title">Consejo editorial</h2>
        <div class="container-flex editorial-team">
            <div class="small-post modern-life-post">
                <img src="{% static 'images/manuelgomez.jpg' %}" alt="" class="author-image">
                <p class="author-name">Manuel Gómez Balderrama</p>
                <p class="author-school">Gimnasio La Montaña</p>
            </div>
            <div class="small-post modern-life-post">
                <img src="{% static 'images/samuelescobar.jpg' %}" alt="" class="author-image">
                <p class="author-name">Samuel Escobar Rubio</p>
                <p class="author-school">Gimnasio La Montaña</p>     
            </div>
            <div class="small-post modern-life-post">
                <img src="{% static 'images/tomasbuitrago.jpg' %}" alt="" class="author-image">
                <p class="author-name">Tomás Buitrago Barrera</p>
                <p class="author-school">Gimnasio La Montaña</p>     
            </div>
        </div>  
    </div>

    <div class="container container-flex small-contact">
        <div class="container">
            <h2>Diseño y desarrollo web</h2>
            <img src="{% static 'images/juanber.jpg' %}" alt="" class="author-image">
            <p class="author-name">Juan Bernardo Benavides Rubio</p>
            {% obfuscate_email jimmybutterflies@gmail.com %}
        </div>
        <div class="container">
            <h2>Manejo de redes sociales</h2>
            <img src="{% static 'images/sofiapinto.jpg' %}" alt="" class="author-image">
            <p class="author-name">Sofía Pinto Matamala</p>
            <p class="author-school">Gimnasio La Montaña</p>
            {% obfuscate_email sofiapinto@glm.edu.co %}
        </div>
    </div>
{% endblock extra_content %}