{% extends '_base.html' %}

{% load static %}
{% load obfuscate_email %}

{% block title %}
¿Quiénes SOMOS? | Revista SOMOS
{% endblock title %}

{% block content %}
<div class="with-sidebar">
    <div>
        <article class="article">
            <h1 class="content-title">Nuestra razón de ser</h1>
            
            <p>La esperanza somos los jóvenes</p>

            <p> El haber nacido en un país tan complejo como Colombia nos exige
            a todos una responsabilidad. Nos crea a cada uno de los ciudadanos
            un reto. Nos obliga a trabajar arduamente, día tras día, para transformar
            nuestra sociedad y lograr un cambio. El papel más importante en esta
            transformación y en esta lucha lo tenemos los jóvenes. Somos los
            únicos que, mediante nuestras acciones, posiciones y capacidades,
            podemos asegurar un futuro completamente mejor. </p>

            <p>Tras largas décadas de conflictos, de injusticia social y económica;
            de pobreza, hambre y miseria; y de haber llegado a la deshumanización
            del hombre; llega una nueva generación de jóvenes con ansias de lograr
            un cambio. Jóvenes mucho más preparados, más críticos y con mayor
            acceso a la información y al conocimiento. Estamos inconformes con
            esta realidad, con el complejo mundo que heredamos de nuestros padres
            y abuelos. Posiblemente nuestro mayor reto sea el cambio climático,
            pues de nosotros depende el futuro de la humanidad. Discursos radicales
            como el de Donald Trump y Jair Bolsonaro, que niegan rotundamente el
            incremento de las temperaturas, confirman que llegó el momento de un
            cambio de paradigma. Llegó la hora de hacer política de una forma
            diferente. Estamos en el momento propicio para hacer una transición
            de las ideas anticuadas a unos proyectos que sean acordes con los
            tiempos actuales. Nos enfrentamos a una serie de amenazas latentes
            que pueden llegar a afectar gravemente nuestra seguridad individual
            y colectiva: los populismos radicales, el resurgimiento del racismo,
            la brutalidad policial y las declaraciones de nuevas guerras.</p>

            <p>La revista SOMOS es una expresión para reafirmar nuestro compromiso
            con Colombia y el mundo. Es un medio que tiene como fin mostrar la
            opinión de los jóvenes sobre distintas realidades del mundo actual.
            Es un proyecto que tiene como esencia ser construido, de principio
            a fin, solo por estudiantes de distintos colegios y universidades
            del país. Queremos brindarle al lector un espacio de debate,
            conocimiento y reflexión. Un espacio en el que la voz de los
            jóvenes pueda ser escuchada. Porque SOMOS es sencillamente eso,
            la voz de la juventud.</p>
        </article>

        <aside role="author" class="">
            <div>
                <div class="[ author ] [ card ] [ radius ]">
                    <img src="{% static 'images/santiagoorozco.jpg' %}" alt="" class="author-image">
                    <div class="card__text flow">
                        <h2>Director</h2>
                        <small class="box-block text-300">Santiago Orozco Uribe</small>
                        <small class="box-block text-300">Gimnasio La Montaña</small>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>

<div class="flow">
    <div class="auto-grid">
        <div class="card flow radius">
            <div></div>
            <h2 class="align-center">Consejo editorial</h2>
            <img src="{% static 'images/manuelgomez.jpg' %}" alt="" class="author-image">
            <div class="card__text">
                <p class="author-name">Manuel Gómez Balderrama</p>
                <p class="author-school">Gimnasio La Montaña</p>
            </div>
        </div>
        <div class="card flow radius">
            <div></div>
            <h2 class="align-center">Consejo editorial</h2>
            <img src="{% static 'images/samuelescobar.jpg' %}" alt="" class="author-image">
            <div class="card__text">
                <p class="author-name">Samuel Escobar Rubio</p>
                <p class="author-school">Gimnasio La Montaña</p>
            </div>     
        </div>
        <div class="card flow radius">
            <div></div>
            <h2 class="align-center">Consejo editorial</h2>
            <img src="{% static 'images/tomasbuitrago.jpg' %}" alt="" class="author-image">
            <div class="card__text">
                <p class="author-name">Tomás Buitrago Barrera</p>
                <p class="author-school">Gimnasio La Montaña</p> 
            </div>    
        </div>
        <div class="card flow radius">
            <div></div>
            <h2 class="align-center">Consejo editorial</h2>
            <img src="{% static 'images/valentinagaviria.jpg' %}" alt="" class="author-image">
            <div class="card__text">
                <p class="author-name">Valentina Gaviria</p>
                <p class="author-school">Gimnasio los Caobos</p> 
            </div>    
        </div>
        <div class="card flow radius">
            <div></div>
            <h2 class="align-center">Diseño y desarrollo web</h2>
            <img src="{% static 'images/juanber.jpg' %}" alt="" class="author-image">
            <div class="card__text">
                <p class="author-name">Juan Bernardo Benavides Rubio</p>
                {% obfuscate_email jbbenavidesr@gmail.com %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}