{% extends 'base.html' %}

{% load static %}

{% block content %}
<main class="content">

    <h2 class="content-title">Nuestra razón de ser</h2>
    
    <p> De lo mucho que podemos elegir a lo largo de nuestras vidas, hay
        algo que sencillamente no tuvimos la oportunidad de escoger ni 
        de cuestionar: el lugar y el tiempo en el que nacimos. Muchos 
        dirán lo desafortunado que fuimos al haber nacido en un país como 
        Colombia y mucho más en una época como esta. La corrupción, la 
        desigualdad, la violencia y la pobreza son apenas unas de las 
        pocas palabras que se pueden usar para describir el lugar donde 
        vivimos. Por qué no pude haber nacido en Holanda, Suecia, o 
        cualquier otro país del mundo que no conozca el sonido de las 
        balas? Un país en el que no mueran niños por desnutrición o 
        incluso siendo aniquilados por las bombas infernales de su propio 
        ejército?. Sencillamente un país en donde prime el respeto a la 
        vida, donde exista una moral y una conciencia ciudadana. Considero 
        que el haber nacido en Colombia nos exige a todos una responsabilidad. 
        Nos crea a cada uno de los ciudadanos un reto. Le obliga a las 
        personas a trabajar arduamente para transformar nuestra sociedad 
        y lograr un cambio. El papel más importante en esta transformación 
        y en esta lucha lo tienen los jóvenes. Somos los únicos que, 
        mediante nuestras acciones, posición y capacidad, podemos asegurar 
        un futuro completamente mejor. Y no hablo solamente de los 
        problemas colombianos. Problemáticas como el cambio climático 
        afectan cada espacio del planeta tierra. Los jóvenes somos el 
        futuro del mundo. Somos la generación que heredará gigantes desafíos, 
        comenzando por la recuperación de la tierra como planeta habitable. 
        La revista SOMOS es una expresión para reafirmar nuestro compromiso 
        con esta lucha. Es un medio que tiene como fin mostrar la opinión 
        de los jóvenes sobre distintas realidades del mundo actual. Es un 
        proyecto que tiene como esencia ser construido, de principio a 
        fin, solo por estudiantes de distintos colegios de Bogotá. 
        Queremos brindarle al lector un espacio de debate, conocimiento 
        y reflexión. Un espacio en el que la voz de los jóvenes pueda 
        ser escuchada. Porque SOMOS es sencillamente eso, la voz de la 
        juventud. </p>
</main>

<aside role="author" class="author">
    <div class="container container-author">
        <h2>Director</h2>
        <img src="{% static 'images/santiagoorozco.jpg' %}" alt="" class="author-image">
        <p class="author-name">Santiago Orozco Uribe</p>
        <p class="author-school">Gimnasio La Montaña</p>
    </div>
</aside>
{% endblock content %}

{% block extra_content %}
<div class="container modern-life">
        <h2 class="modern-life-title">Consejo editorial</h2>
        <div class="container-flex editorial-team">
            <div class="small-post modern-life-post">
                <img src="{% static 'images/manuelgomez.jpg' %}" alt="" class="author-image">
                <p class="author-name">Manuel Gómez Balderrama</p>
                <p class="author-school">Gimnasio La Montaña</p>
            </div>
            <div class="small-post modern-life-post">
                <img src="{% static 'images/samuelescobar.jpg' %}" alt="" class="author-image">
                <p class="author-name">Samuel Escobar Rubio</p>
                <p class="author-school">Gimnasio La Montaña</p>     
            </div>
            <div class="small-post modern-life-post">
                <img src="{% static 'images/tomasbuitrago.jpg' %}" alt="" class="author-image">
                <p class="author-name">Tomás Buitrago Barrera</p>
                <p class="author-school">Gimnasio La Montaña</p>     
            </div>
        </div>  
    </div>

    <div class="container container-flex small-contact">
        <div class="container">
            <h2>Diseño y desarrollo web</h2>
            <img src="{% static 'images/juanberjpg' %}" alt="" class="author-image">
            <p class="author-name">Juan Bernardo Benavides Rubio</p>
        </div>
    </div>
{% endblock extra_content %}