// Need to fix--no time right now
.gallery {
    margin-bottom: 2em;
    padding: 2.5em;
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
    text-align: center;
}

.gallery-cell {
    margin-bottom: 2em;
    box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
    border-radius: 1em;
    padding: .5em;
    transition:.2s all;
    width: 30rem;
    max-width: 95%;
    filter:blur(3px);
    opacity:.5;
    transform: scale(.8);
    box-shadow:none;
}

.gallery-title {
    font-size: 2.5rem;
    text-shadow: 2px 3px 4px rgba(0,0,0,0.25);
    text-align: center;
}

.gallery-cell.is-selected{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    z-index: 2;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}

.img-gallery {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: .5em;
}

.gallery-author,
.gallery-school {
    font-size: .825rem;
    color: #707070;
    padding-top: .3em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.gallery-school {
    font-size: .7rem;
}

.gallery-link {
    text-decoration: none;
}

.gallery-grid {
    columns: 5 300px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
}

.gallery-grid__item {
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px coral;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    transition: all .25s ease-in-out;
}

.gallery-grid__item:hover .gallery-grid__img {
    filter: grayscale(0);
}

.gallery-grid__img {
    width: 100%;
    border-radius: 5px;
    transition: all .25s ease-in-out;
}

@media (min-width:700px) {
    .gallery-grid__img {
        filter: grayscale(100%);
    }

    .gallery-grid__item {
        border-color: black;
    }

    .gallery-grid__item:hover {
        border-color: coral;
    }
}