.pauta {
    --flow-space: 1em;

    &__image{
        
        &.mobile {
            display: block;
        }

        &.desktop {
            display: none;
        }
    
        @include media-query('sm'){
            &.mobile {
                display: none;
            }

            &.desktop {
                display: block;
            }
        
        }
    }
}