.site-head {
    --wrap-width: 90rem;
    margin: get-size('700') get-size('500');

    &__logo {
        max-width: 15rem;
    }

    &__header {
        flex-direction: column;

        > * + * {
            margin-top: 1em;
        }
        
        @include media-query('sm'){
            flex-direction: row;

            > * + * {
                margin-top: 0;
            }
        }
    }
}