.site-foot {
    --wrap-width: 90rem;
    text-align: center;
    padding: get-size('400'); 

    &__content {
        
        flex-direction: column;

        > * + * {
            margin-top: 1em;
        }
        
        @include media-query('sm'){
            flex-direction: row;

            > * + * {
                margin-top: 0;
            }
        }

        > * {
            max-width: 20rem;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            padding: get-size('500');
        }

        ul {
            text-align: left;
        }
    }

}