{% extends 'base.html' %}

{% load static %}
{% load obfuscate_email %}

{% block content %}
<div class="container contacto-main">
    <div class="container">
        <h2>¿Tienes algo por contar? ¿Algún comentario?</h2>
        <p>Envíanos tu poema, cuento, foto, investigación, artículo, comentario, 
            reclamo y/o sugerencia a nuestro correo o cuentanos lo que quieras 
            llenando el siguiente formulario:
        </p>
        <div class="contacto-link">
          {% obfuscate_email revistasomos@glm.edu.co %}
        </div>
        <div class="contact-form">
          <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="form-actions">
                <button type="submit" class="submit-btn">Enviar</button>
              </div>
          </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}

{% block extra_content %}
<div class="container">
    <h2>O escríbele directamente a algún miembro del equipo:</h2>
    <div class="container-flex">
        <div class="small-post poem-post">
              <img src="{% static 'images/santiagoorozco.jpg' %}" alt="" class="author-image">
              <p class="author-name">Santiago Orozco Uribe</p>
              {% obfuscate_email santiagoorozco@glm.edu.co %}
        </div>
        <div class="small-post poem-post">
            <img src="{% static 'images/manuelgomez.jpg' %}" alt="" class="author-image">
            <p class="author-name">Manuel Gómez Balderrama</p>
            {% obfuscate_email manuelgomez@glm.edu.co %}
        </div>
    </div>
    <div class="container-flex">
        <div class="small-post poem-post">
            <img src="{% static 'images/samuelescobar.jpg' %}" alt="" class="author-image">
            <p class="author-name">Samuel Escobar Rubio</p>
            {% obfuscate_email samuelescobar@glm.edu.co %}
        </div>

        <div class="small-post poem-post">
            <img src="{% static 'images/tomasbuitrago.jpg' %}" alt="" class="author-image">
            <p class="author-name">Tomás Buitrago Barrera</p>
            {% obfuscate_email tomasbuitrago@glm.edu.co %}
        </div>
    </div>
</div>
{% endblock extra_content %}
