{% extends '_base.html' %}

{% block title %}
Mensaje enviado | Revista SOMOS
{% endblock title %}

{% block content %}
<div class="container contacto-main error">
    <div>
        <h2 class="error-title">¡Gracias por comunicarte con nosotros!</h2>
        <p>Tu mensaje ha sido enviado. Espera próximamente nuestra respuesta
        </p>
        <div class="contacto-link">
            <a href="{% url 'revista:home' %}">Vuelve al inicio</a>
        </div>
        
    </div>
</div>
{% endblock content %}