// First up: config
@import 'config';

// Next: pull in gorko for design tokens
@import '../node_modules/gorko/gorko.scss';

// Pull in modern reset
@import 'reset';

// Global CSS starts
body {
    line-height: 1.5;
    overflow-x: hidden;
    background: #fbf9fb;

    @include apply-utility('font', 'base');
    @include apply-utility('weight', 'medium');
}

h1,
h2,
h3 {
    line-height: 1.2;

    @include apply-utility('font', 'secondary')
}

h1 {
    font-size: get-size('700');
}

h2,
h3 {
    font-size: get-size('600');
}

a {
    color: currentColor;
}

:focus {
    outline: 2px dotted;
    outline-offset: 0.25rem;
}

// Utilities
@import 'utilities/wrapper';
@import 'utilities/flow';
@import 'utilities/splitter';
@import 'utilities/auto-grid';
@import 'utilities/with-sidebar';
@import 'utilities/visually-hidden';

// Blocks
@import 'blocks/nav';
@import 'blocks/skip-link';
@import 'blocks/site-head';
@import 'blocks/site-foot';
@import 'blocks/sidebar';